html {
    color:white;
}

body {
    background-color: dimgray;
    max-width:700px;
    align-items: center;
    margin: 0 auto;
}

header {
    background-color:lightblue;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    color:black;
}

header h1 {
    grid-column: 2/4;
    /* grid-row: 1/2; */
    font-size:3em;
}

header h2 {
    grid-column: 2/4;
    /* grid-row: 2/3; */
}

.profilepic{
    grid-column: 4/5;
    /* grid-row: 1/3; */
    width:100px;
}

main a {
    text-decoration-color: white;
    color:white
}

footer {
    background-color: lightblue;
    height: 50px;
    justify-content: center;
    color:black;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

footer p {
    grid-column:2/3;
}