@media only screen and (min-width: 32.5em) {


.hero {
    height: 500px;
}


.navigation {
    flex-direction: row;
    justify-content: space-around;
}

.navigation li {
    display: flex;
}

.navigation li:first-child {
    display: none;
}






}