:root {
    --background-color: #BEDCE2;
    --text-color: #4D7298;
    --accent1-color: #E2B48E;
    --link-color: #2D3142;
}



@media only screen and (min-width: 32.5em) {

/* HTML Selectors */

nav {
    padding-bottom: 1em;
}

 main {
     width: 70%;
}

article {
    position: relative;
    height: 250px;
    padding-bottom: 3em;
}

article h2 {
    position: absolute;
}

article h4 {
    display: none;
}

article img {
    position:absolute;
    width: 40%;
    top: 2em;
    right:2em;
}

article p {
    position: absolute;
    top: 3em;
    max-width: 50%;
}

header h1 {
    font-size: 3.5em;
}

header h3 {
    font-size: 2em;
}


/* Class Selectors */

.contact {
    display: flex;
    justify-content: space-around;
}

.contact h2 {
    order: 2;
}

.contact iframe {
    order: 1;
    width: 75%;
    padding-left: 3em;
}

.contact p {
    order: 3;
}

.menu_icon {
    display: none;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.topnav li:not(:first-child) {
        display: block;
}

.forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.fore_contain h3 {
    text-align: center;
}

.day {
    grid-row: 2/3;
    background-color: var(--accent1-color);
    height: 5em;
    width: 5em;
    justify-self: center;
    align-self: center;
}

.hero {
    height:400px;
}

.hero img {
    height:100%;
}

.links a {
    padding: 0 1.5em 0 1.5em;
}

.topnav {
    width: 70%;
    margin: 0 auto;
}



}