:root {
    --background-color: #BEDCE2;
    --text-color: #4D7298;
    --accent1-color: #E2B48E;
    --link-color: #2D3142;
}

/* HTML selectors */

a {
    font-family: 'Bebas Neue', cursive;
}

article {
    background-color: lightgray;
    color:var(--text-color);
    padding: .5em;
    margin-bottom: 2em;
}

article img {
    display: block;
    max-width:95%;
    margin: 0 auto;
}

footer {
    background-color: var(--accent1-color);
    color:var(--text-color);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: var(--accent1-color);
    display:grid;
    grid-template-columns: .75fr 1.25fr;
}

header h1 {
    align-self: bottom;
    color:var(--text-color);
    grid-column: 2/3;
    grid-row:1/2;
    margin: .25em;
}

header h3 {
    align-self: top;
    color: var(--text-color);
    grid-column: 2/3;
    grid-row: 2/3;
    margin: .25em;
}

html {
    background-color: var(--background-color);
}

iframe {
    border:0 none;
    width: 100%;
    height: 100%;
}

img {
    margin: 0 auto;
    width: 100%;
}

main {
    margin: 0 auto;
    width:90%;
}

nav {
    background-color: lightgray;
    padding:0;
}

nav ul {
    display:block;
    margin: 0;
    padding-top: 1em;
    padding-left: 0;
}

nav ul li {
    text-align: center;
}

nav ul a {
    color:var(--link-color);
    display:block;
    justify-self: center;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
}

p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

ul {
    display: inline;
    list-style: none;
    margin-left: 0px;
}


/* Class Selectors */

.contact {
    width: 100%;
    margin: 0 auto;
}

.contact h2, .contact p {
    padding-left: 1em;
    margin-left: auto;
}

.forecast {
    display:none;
}
/* 
.hero {
    display:grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
} */

.hero {
    position: relative;
    border: 1px dashed hotpink;
    width:100%;
    margin: 1.5em auto;
    height: 300px;
    
}

.site_title {
    /* grid-column: 1/3; */
    text-align: center;
}

.summary {
    position: absolute;
    top: 2em;
    left: 3em;
    max-width: 25%;
    opacity: 0.7;
    background-color: var(--accent1-color);
    justify-items: center;
    padding: 5px;
}

.icon {
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    max-width: 5em;
}

.iframediv {
    width: 80%; 
    margin: 0 auto;
}
/* 
.summary {
    background-color: var(--accent1-color);
    grid-column: 1/2;
    grid-row: 2/3;
    justify-items: center;
    margin: 10px -10px -10px 10px;
    
    padding: .5em;
} */

.topnav .menu_icon {
    padding-bottom: 1em;
}

.topnav li:not(:first-child) {
    display: none;
}
.topnav {
    justify-content: center;
}

.topnav.responsive {
    position: relative;
}

.topnav.responsive a.icon{
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive {
    display:block;
    float:none;
    text-align: center;
}

/* ID selectors */