:root {
    --background-color: #BEDCE2;
    --text-color: #4D7298;
    --accent1-color: #E2B48E;
    --link-color: #2D3142;


}

.first_font {
font-family: 'Lato', sans-serif;
}

.second_font {
font-family: 'Bebas Neue', cursive;
}

.third_font {
font-family: 'Yanone Kaffeesatz', sans-serif;
}

.icon {
    max-width:10%;
    height: 5em;
}

p {
    max-width:35em;
}

ul {
    list-style: none;
}

ul li {
    margin:1em;
}

ul li a {
    text-decoration: none;
    padding: 1em;
    color: var(--text-color)
}

ul li a:hover {
    background-color: var(--text-color);
    color: var(--accent1-color);
    padding: 1em;
}

.active {
    background-color: var(--text-color);
    color: var(--accent1-color);
    padding: 1em;
}

.flex {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.bkgd-color {
    width:15em;
    height:5em;
    background-color: var(--background-color);
    border: solid 1px black;
}

.text-color {
    width:15em;
    height:5em;
    background-color: var(--text-color);
    border: solid 1px black;
}

.headfoot-color {
    width:15em;
    height:5em;
    background-color: var(--accent1-color); 
    border: solid 1px black;
}

.link-color {
    width:15em;
    height:5em;
    background-color: var(--link-color); 
    border: solid 1px black;
}
nav {
    background-color: var(--accent1-color);
}
html {
    background-color: var(--background-color);
}
h1 {
    color: var(--text-color);
    font-size: 3.3em;
}
a {
    color: var(--link-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: var(--accent1-color);
    padding: .01em;
    border-radius: 5px;
    text-align:center;
    color: var(--text-color);
}

header nav {
    background-color: var(--accent1-color);   
}



body {
    margin: 0 auto;
    align-items: center;
    max-width: 700px;
}