:root {
    --background-color: #0B0C10;
    --text-color: #66FCF1;
    --accent1-color: #1F2833;
    --accent2-color: #C5C6C7;

}

html {
    background-color: var(--background-color);
}

header, footer {
    background-color: var(--accent1-color);
    color: var(--text-color);
    text-align: center;
}

body {
    font-family: "Orbitron";
    color: var(--text-color);
    max-width: 800px;
    margin: 0 auto;
}


a {
    text-decoration-color: var(--accent2-color);
    color: var(--accent2-color);
}

div {
    background-color: var(--accent1-color);
    max-width: 1fr;
}

div p, div h2, div h4, div img {
    margin-left: .5em;
}

div img {
    max-width: 95%;
}

header {
	justify-content:center;
	align-items:center;
}

.rule_of_thirds, .contrast, .repetition {
    padding-bottom: 1em;
}