@media only screen and (min-width: 64em) {

main {
    width: 80%;
}

.weatherBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

figure {
    transition-duration: 1.5s;
}

figure:hover {
    box-shadow: 5px 10px 5px black;
    background-color: lightgray;
}



}